@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #C3EAF4;
}
.canvassignin{
    border: none;
    top: 0;
    position: fixed;
    height: 100vh;
    width: 150vw;
    background:  rgba(0,0,0,0.6);
    z-index: 2;
}
.signinbox{
    width: 360px;
    height: 255px;
    border-radius: 15px;
    overflow: hidden;
    background: lightgoldenrodyellow;
    position: relative;
    animation: show 0.8s linear;
    top :15%;
    left: 25%;
}
.signinbox button{
    position: absolute;
    border: none;
    margin-left: 80px;
    margin-top: 7px;
    width: 149px;
    height: 30px;
    border-radius: 5px;
    opacity: 1;
    background: #BFAEE3;
    transition: 0.2s;
}
.signinbox >form>input{
    width: 24px;
    height: 12px;
    display: inline;
    padding: 5px;
    margin-left: 30px;
}
.signinbox li{
    list-style-type: none;
}
.signinbox .info{
    margin-left: 22px;
}
.signinbox p{
    margin-left: 10px;
}
span.show-btn{
    position: absolute;
    margin-left:285px;
    color: #8e44ad;
    margin-top: -30px;
    cursor: pointer;
    display: none;
  }
  input:valid ~ span.show-btn{
    display: block;
  }
  .info span i.hide-btn::before{
    content: "\f070";
  }
.canvas{
    border: none;
    top: 0;
    position: fixed;
    height: 100vh;
    width: 150vw;
    background:  rgba(0,0,0,0.6);
    z-index: 2;
}
.box{
    width: 850px;
    height: 700px;
    border-radius: 15px;
    overflow: hidden;
    align-items: center;
    align-content: center;
    background: lightgoldenrodyellow;
    position: relative;
    animation: show 0.6s linear;
    left: 12%;
}
.box button{
    position: absolute;
    border: none;
    margin-left: 620px;
    margin-top: -30px;
    width: 149px;
    height: 30px;
    border-radius: 5px;
    opacity: 1;
    background: #BFAEE3;
    transition: 0.2s;
}
.box .info{
    margin-left: 100px;
    display: block;
}
.box p{
    margin-left: 10px;
}
.optional{
    width: 1265px;
    height: 60px;
    border-radius: 5px;
    box-shadow: 5px 10px thistle;
    background-color: #E5F6FA;
    
}
.error{
    color:red;
}
.optional li{
    position: relative;
    float: right;
    margin-top: 10px;
    margin-right: 50px;
    border: 5px;
    display: inline;
    width: 100px;
    height: 40px;
    padding: 10px;
    text-align: center;
    background-color: lightcoral;
    border-radius: 5px;
    opacity: 0.8;
    transition: 0.2s;
}

.optional li:hover{
   transform: scale(1.1);
   opacity: 1;
}
.optional li{
    justify-content: flex-end;
    color: #B6DDDA;
    border-color: lightcoral;
}
.searchbar{
    width: auto;
    height: auto;
    position: sticky;
    overflow: hidden;
    vertical-align: baseline;
    white-space: nowrap;
    
    margin-left: 440px;
    margin-top: 20px;
}
input{
    background-color: rgb(219, 202, 180);
    position: inherit;
    text-indent: 10px;
    color:darkred;
    width: 320px;
    height: 30px;
    font-size: 10pt;
    border-right: none ;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px 0px 0px 5px;
    overflow: hidden;
    opacity: 0.5;
}
.searchbar button{
    position: sticky;
    border: none;
    margin-left: -3.8px;
    width: 49px;
    height: 30px;
    border-radius: 0 5px 5px 0px;
    opacity: 1;
    background: #BFAEE3;
    transition: 0.2s;
 } 
input:focus{
    background-color: #B6DDDA;
    outline: indianred;
    color: slategray;
    opacity: 1;
}
button:hover{
    background: rgb(204, 62, 62);
}
i{
    padding: 8px;
}
.tableofbook{
    padding: 20px;
    width: 1020px;
    height: 250px;
    margin-left: 90px;
    position: relative;
    padding: 5px;
    overflow: scroll;
}
.tableofbook table {
    border-collapse: separate;
    width: 100%;
  }
  
.tableofbook th,.tableofbook td {
    text-align: left;
    padding: 8px;
}
.tableofbook tr:nth-child(even) {background-color: #f2f2f2;}
.imageintro img{
    padding: 15px;
    margin-top: 5px;
    width: 1260px;
    height: 250px;
}
.hide{
    display: none;
}
::selection{
    background: yellow;
    color: red;
}
@keyframes show{
    from{
        top :-400px;
    }
    to{
        top :16%;
    }
}